<section class="page-404">
    <header class="page-header">
        <h1 class="page-title">这里什么都没有</h1>
        <p class="page-subtitle">你访问的页面可能已经被移动、重命名，或者从未存在过。</p>
    </header>

    <div class="page-content">
        <p>别担心，你可以：</p>
        <ul>
            <li>回到 <a href="{{ '/' | url }}">首页</a>，从最新的文章开始浏览</li>
            <li>前往 <a href="{{ '/archive/' | url }}">归档</a>，按时间查看所有内容</li>
        </ul>
    </div>
</section>


