---
layout: "base.njk"
title: "首页"
pagination:
  data: collections.featured
  size: 6
  alias: posts
---
<ul class="post-list">
    {%- for post in posts -%}
    <li class="post-item">
        <h2 class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        <p class="post-meta"> {{ post.date | readableDate }}</p>
        <p class="post-excerpt">{{ post.data.excerpt }}</p>
        <a href="{{ post.url | url }}" class="read-more">阅读全文 &rarr;</a>
    </li>
    {%- endfor -%}
</ul>
